{% extends 'base.html' %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{% for item in news%}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.get_absolute_url.get_absolute_url }}">{{ item.category }}</a>
    </div>

    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img class="mr-4" src="{{item.photo.url}}" alt="" width="250" height="300">
            {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/%D0%9D%D0%B5%D1%82_%D1%84%D0%BE%D1%82%D0%BE.png"
                 alt="" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Перейти</a>
            </div>
        </div>

    </div>

    <div class="card-footer text-body-secondary">
        {{ item.created_at|date:"D d M Y" }}
    </div>
</div>
{% endfor %}
{% endblock %}
